{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'node-challenge',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('bootstrap5/node') }}

<article{{ attributes.addClass(classes) }}>
    <div class="challenge">

      <div class="challenge__header">
        <div class="challenge__header-content">
          <div class="tag">
            {{ content.field_reto_categoria.0 }}
          </div>

          <div class="title">
            {{label}}
          </div>
        </div>


        <div class="challenge__header-image">

            <svg width="497" height="401" viewBox="0 0 497 401" fill="none" xmlns="http://www.w3.org/2000/svg">
              <clipPath id="clip-path2">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M90.7875 33.8323L90.7882 33.8317C110.553 15.1475 141.722 16.0235 160.406 35.7884L407.639 297.321C426.323 317.086 425.447 348.255 405.682 366.939L405.681 366.94C385.916 385.624 354.747 384.748 336.063 364.983L88.8307 103.451C70.1465 83.6857 71.0226 52.5166 90.7875 33.8323ZM289.788 59.8317L289.787 59.8323C270.023 78.5165 269.146 109.686 287.831 129.451L391.22 238.82C409.904 258.585 441.073 259.461 460.838 240.776L460.839 240.776C480.604 222.092 481.48 190.922 462.795 171.157L359.406 61.7884C340.722 42.0235 309.553 41.1475 289.788 59.8317ZM106.319 163.332C87.6344 143.567 56.4645 142.692 36.6996 161.376C16.9347 180.061 16.0586 211.23 34.7428 230.995L148.901 351.755C167.585 371.52 198.755 372.396 218.52 353.711C238.284 335.027 239.161 303.858 220.476 284.093L106.319 163.332Z" fill="#FF5353"/>
              </clipPath>
              <image clip-path="url(#clip-path2)" width="497" height="401" preserveAspectRatio="xMidYMid slice" href="{{ content.field_reto_imagen.0|render|striptags|trim}}" alt="Image" class="svg__image">
            </svg>

        </div>
      </div>

    </div> {# challenge #}


  <ul class="nav nav-tabs nav-tabs-actions" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link nav-link-ideas active" id="idea-tab" data-bs-toggle="tab" data-bs-target="#idea" type="button" role="tab" aria-controls="idea" aria-selected="true">
        {{'Ideas'|t}} <span class="number">{{ drupal_view('ideas', 'block_3', node.id ) }}</span>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link nav-link-experience" id="experience-tab" data-bs-toggle="tab" data-bs-target="#experience" type="button" role="tab" aria-controls="experience" aria-selected="false">
        {{'Experiencias'|t}} <span class="number">{{ drupal_view('ideas', 'block_4', node.id ) }}</span>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="challenge-tab" data-bs-toggle="tab" data-bs-target="#challenge" type="button" role="tab" aria-controls="challenge" aria-selected="false">
        {{'Sobre este reto'|t}}</a>
      </button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane tab-pane-idea fade show active" id="idea" role="tabpanel" aria-labelledby="idea-tab">

      <div class="message" id="message-idea">
        <a href="#" class="message__close js-message-close"><span class="visually-hidden">Cerrar mensaje</span></a>
        <div class="message__content">
          <p class="message__title">{{'Tablero de ideas'|t}}</p>
          <p class="message__text">{{'En este tablero puedes proponer nuevas ideas que den solución al reto, e interactuar con otras ideas que han propuesto otros usuarios'|t}}</p>
        </div>
      </div>

      <div class="tab-ideas">

        <div class="actions">
          <ul>

            {% if logged_in %}
            <li class="actions__item new nueva_idea"><a href="/nueva-idea/{{node.id}}" class="btn btn-primary btn-primary--icon">{{'Nueva idea'|t}}</a></li>
            {% else %}
            <li class="actions__item new nueva_idea">
              <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-primary btn-primary--icon">{{'Nueva idea'|t}}</a>
            </li>
            {% endif %}
            {% if 'administrator' in user.getroles(TRUE) or es_moderador == 1 %}
              <li class="actions__item admin admin_reto"><a href="/admin-ideas/{{node.id}}" class="btn btn-secondary btn-secondary--icon">{{'Administrar ideas'|t}}</a></li>
              <li class="actions__item statistics estadisticas"><a href="/estadisticas" class="btn btn-secondary btn-secondary--icon">{{'Estadísticas'|t}}</a> </li>
            {% endif %}

          </ul>
        </div>

        {{ drupal_view('distributivas', 'block_1', node.id ) }}

      </div> {# tab-ideas #}

    </div>

    <div class="tab-pane tab-pane-experience fade" id="experience" role="tabpanel" aria-labelledby="experience-tab">

      <div class="tab-experiences">
        <div class="actions">
          <ul>
            {% if logged_in %}
              <li class="actions__item new nueva_idea"><a href="/nueva-experiencia/{{node.id}}" class="btn btn-primary btn-primary--icon">{{'Nueva experiencia'|t}}</a></li>
            {% else %}
            <li class="actions__item new nueva_idea">
              <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal2" class="btn btn-primary btn-primary--icon">{{'Nueva experiencia'|t}}</a>
            </li>
            {% endif %}

            {% if 'administrator' in user.getroles(TRUE) or es_moderador == 1 %}
              <li class="actions__item admin admin_reto"><a href="/admin-experiencias/{{node.id}}" class="btn btn-secondary btn-secondary--icon">{{'Administrar experiencias'|t}}</a></li>
              <li class="actions__item statistics estadisticas"><a href="/estadisticas" class="btn btn-secondary btn-secondary--icon">{{'Estadísticas'|t}}</a> </li>
            {% endif %}

          </ul>
        </div>

        {{ drupal_view('distributivas', 'block_3', node.id ) }}


      </div> {# tab-experiencias #}

    </div>

    <div class="tab-pane tab-pane-challenge fade" id="challenge" role="tabpanel" aria-labelledby="challenge-tab">

      <div class="tab_sobre_reto">
        <div class="cuerpo">
          {{ content.body }}
        </div>
      </div> {# tab-sobre-este-reto #}

    </div>
  </div>



{% if not logged_in %}

<div class="modal modal-idea fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header__content">
          <h3 class="modal-title" id="exampleModalLabel">{{'Login'|t}}</h3>
          <p>{{'Para crear una nueva idea necesitas estar logado'|t}}</p>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <a href="/user/login" type="button" class="btn btn-secondary">{{'Entrar en mi cuenta'|t}}</a>
        <a href="/user/register" type="button" class="btn btn-primary">{{'Registrarme'|t}}</a>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-idea fade" id="loginModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header__content">
          <h3 class="modal-title" id="exampleModalLabel">{{'Login'|t}}</h3>
          <p>{{'Para crear una nueva experiencia necesitas estar logado'|t}}</p>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <a href="/user/login" type="button" class="btn btn-secondary">{{'Entrar en mi cuenta'|t}}</a>
        <a href="/user/register" type="button" class="btn btn-primary">{{'Registrarme'|t}}</a>
      </div>
    </div>
  </div>
</div>

{% endif %}



</article>
