
  
{% set message = "" %}
{% if reto_state == 13 %}
  {% set message = "en Borrador. No estará disponible para los usuarios hasta que lo actualices a Reto Abierto." %}
{% elseif reto_state == 14 %}
  {% set message = "Abierto, por tanto ya está disponible para todos los usuarios de Digitac Hub." %}
{% elseif reto_state == 15 %}
  {% set message = "Cerrado, por tanto no estará disponible para los usuarios de Digitac Hub." %}
{% endif %}

<div class="paragraph paragraph-cabecera paragraph-pg-header paragraph--type--cabecera paragraph--view-mode--default paragraph--title--Comentario_eliminado">
    <div class="container">
      <div class="paragraph-pg-header__box">
        <div class="title">
            {% if reto_is_new %}
            {{'Reto guardado'|t}}
            {% else %}
            {{'Reto actualizado'|t}}
            {% endif %}
        </div>
        <div class="subtitle">
            {% if reto_is_new %}
            {{'Tu reto ha sido guardado como Reto '|t}}{{message|t}}
            {% else %}
            {{'Tu reto ha sido actualiado como Reto '|t}}{{message|t}}
            {% endif %}
        </div>

        {% if reto_state == 14%}
          <a href="/reto/{{reto_id}}" class="btn btn--link">{{ 'Ir a ver reto'|t}}</a>
        {% else %}
          <a href="/admin-retos" class="btn btn--link">{{ 'Ir a Administrar Retos'|t}}</a>
          <a href="/retos" class="btn btn--link">{{ 'Ir a Retos TAC'|t}}</a>
        {% endif %}

      </div>

      <div class="paragraph-pg-header__image">
        <img loading="lazy" src="/sites/default/files/2023-11/Recurso%2010%201%20%282%29_6.png" width="326" height="252" alt="Idea creada" class="img-fluid">      
     </div>
    </div>
</div>
