{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}

	<div{{attributes.addClass(classes)}}>


		<div class="container">
			<div class="header__logo">
				<a href="/">
					<img src="/themes/digitac/images/digitac-logo-white.svg" alt="Logo digitac" class="logo logo-static"/>
					<img src="/themes/digitac/images/digitac-logo.svg" alt="Logo digitac" class="logo logo-fixed"/>
				</a>
			</div>
			<button class="navbar-toggler js-open-menu" type="button" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Botón de menú">
				<span class="visually-hidden">Abrir menú de navegación</span>
			</button>
			<div class="header__content" id="navbarSupportedContent">
				<div class="header__content-header">
					<img src="/themes/digitac/images/digitac-logo.svg" alt="Logo digitac"/>

					<a href="#" class="header__close js-close-menu">
						<span class="visually-hidden">Cerrar menú de navegación</span>
					</a>
				</div>

				<div class="header__menu">
					{{ drupal_block("system_menu_block:main", {depth: 2, expand_all_items: TRUE}) }}
				</div>






				<div class="header__menu-registro">

{% if logged_in %}
<div class="selectBox">
  <div class="selectBox__value">
    <a href="#">{{'Mi cuenta'|t}}</a>
  </div>

  <div class="dropdown-menu">
{% endif %}

					{{ drupal_block("system_menu_block:account", {depth: 2, expand_all_items: TRUE}) }}

{% if logged_in %}
  </div>
</div>
{% endif %}




				</div>

				<div class="lang_sel">
					{{ drupal_block("language_block:language_interface") }}
				</div>

				{% if user.id != 0 %}


					<div class="user-ball">
						{% set siglas = user.displayname|striptags|split(' ') %}
						{% for item in siglas%}{{ item|first|upper|trim }}{% endfor %}

						{% if 'experto' in user.getroles()  %}
							<div class="star_expertoTac"><img src="/themes/digitac/images/icons/icon-verified.svg" alt="" /></div>
						{% endif %}
					</div>

				{% endif %}



			</div>
		</div>


	</div>

{% endif %}
