<div class="block-slider-news__item">

    <div class="block-slider-news__item-image">
        {{ fields.field_noticia_imagen.content }}

        {% if fields.field_noticia_region.content|render|striptags|trim %}
        <div class="region">
            {{ fields.field_noticia_region.content }}
        </div>
        {% endif %}
    </div>

    <div class="block-slider-news__item-content">
        <div class="category">
            <span class="type">{{ fields.field_noticia_tipo.content }}</span>
            <span class="date">{{ fields.created.content }}</span>
        </div>
        <div class="title">{{ fields.title.content }}</div>
        <div class="content">{{ fields.body.content|render|striptags|trim }}</div>
    </div>

</div>
