<div class="block-slider-news__item">


    <div class="block-slider-news__item-content">
        <div class="category">
            <span class="type">{{ fields.field_reto_categoria.content }}</span>
        </div>
        <div class="title">{{ fields.title.content }}</div>
    </div>

    <div class="block-slider-news__item-image">
        {{ fields.field_reto_imagen.content }}
    </div>

{{fields.nid.content}}

    <div class="enlaces_reto">
        <div class="ideas"><a href=#>{{'Ideas'|t}} {{ drupal_view('retos_propiedades', 'block_2', fields.nid.content|render|striptags|trim ) }}</a></div>
        <div class="experiencias"><a href=#>{{'Experiencias'|t}} {{ drupal_view('retos_propiedades', 'block_4', fields.nid.content|render|striptags|trim ) }}</a></div>
        <div class="ideas"><a href=#>{{'Sobre este reto'|t}} </a></div>
    </div>


</div>
