<div class="block-slider-news__item block-slider-news__item--flex">
    <div class="block-slider-news__item-container">
        <div class="block-slider-news__item-image">
            {{ fields.field_noticia_imagen.content }}
        </div>

        <div class="block-slider-news__item-content">
            <div class="category">
                <span class="type">{{ fields.field_noticia_tipo.content }}</span>
                <span class="date">{{ fields.created.content }}</span>
            </div>
            <div class="title">{{ fields.title.content }}</div>
            <div class="content">{{ fields.body.content }}</div>
            <a href="{{ fields.view_node.content|render|striptags|trim }}" class="btn btn--link"> Leer {{ fields.field_noticia_tipo.content }}</a>
        </div>
    </div>

</div>