<div class="block-slider-news__item block-slider-news__item--flex">
    <div class="block-slider-news__item-container">
        {% if fields.field_solucion_imagen.content|render|striptags('<img>')|trim %}
        <div class="block-slider-news__item-image">
            {{ fields.field_solucion_imagen.content }}
        </div>
        {% else %}
            Hay que poner una imagen por defecto???
        {% endif %}

        <div class="block-slider-news__item-content">
            <div class="category">
                <span class="type">{{ fields.type.content }}</span>
            </div>
            <div class="title">
                <a href="{{ fields.view_node.content|render|striptags|trim }}" class="btn btn--link">
                    {{ fields.title.content }}
                </a>
            </div>

            {% if(fields.type.content|render|striptags|trim == 'Solución') %}
            <div class="content">{{ fields.body.content }}</div>
            {% else %}
            <div class="content">{{ fields.field_tramite_sobre_este.content }}</div>
            {% endif %}


           <div class="tags">
                {% if fields.field_solucion_tipo.content|render|striptags|trim %}

                {% set tags = fields.field_solucion_tipo.content|render|striptags|trim|split('|') %}
                {% for key,item in tags %}
                    <span class="tag">{{item}}</span>
                {% endfor %}

               {% endif %}
                   <span class="tag pay">{{ fields.field_solucion_gratuidad.content }}</span>
           </div>



        </div>
    </div>

</div>