<div class="block-ideas__item">

    <div class="block-ideas__item-image">
        {{ fields.field_idea_imagen.content }}

        <div class="region">
            {{ fields.field_idea_estado.content }}
        </div>
    </div>

    <div class="block-ideas__item-content">
        <div class="category">
            <span class="type">IDEA {{ fields.field_idea_numero.content }}</span>
            <span class="date">{{ fields.created.content }}</span>
        </div>
        <div class="title">{{ fields.title.content }}</div>
        <div class="content">{{ fields.body.content }}</div>

        <div class="author">
            <span class="author__letters">{{ fields.uid.content|render|striptags|trim|first }}</span>
            <span class="author__name">
                {{ fields.uid.content }}
                <span class="expert">Experto TAC</span>
            </span>
        </div>
    </div>

    <div class="block-ideas__item-ratings">
        <div class="stars">{{ fields.node_rate_widget_field.content }}</div>
        <div class="votes">{{ fields.value.content }}</div>
        <div class="comments"><span class="sr-only">Comentarios</span> {{ fields.comment_count.content }}</div>
    </div>

</div>
