{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

<div class="user-account">
    {{ drupal_entity('paragraphs_library_item', 2)| without('label') }}


    {% if content %}
      
      {{ drupal_entity('paragraphs_library_item', 3)| without('label') }}

      <div class="user-account__body">
        <div class="container">
          <h2>{{'Mis datos'|t}}</h2>

          <div class="data">
            <div class="data__row">
              <div class="data__row-col name">
              {{content.field_usr_nombre}}
              </div>

              <div class="data__row-col lastname">
              {{content.field_usr_apellidos}}
              </div>
            </div>

            <div class="data__row">
              <div class="data__row-col">
                <div class="field__label">País de residencia *</div>
                <div class="field__item">
                {{content.field_usr_pais.0}}
                </div>
              </div>
            </div>

            <div class="data__row">
              <div class="data__row-col">
                <div class="field__label">Email *</div>
                <div class="field__item">
                {{ user.mail.value}}
                </div>
              </div>
            </div>

            <div class="data__row">
              <div class="data__row-col">
                <div class="field__label">Empresa / Organismo / Institución</div>
                <div class="field__item">
                {% if content.field_usr_empresa|render|striptags|trim %}
                {{content.field_usr_empresa}}
                {% else %}
                {{'Haz click en'|t}} <a href="/editar-usuario">{{'Editar mis datos'|t}}</a> {{'para añadir Empresa/Organismo/Institucion'|t}}
                {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="user-box">
        <div class="container">
          <h2>{{ 'Contraseña'| t}}</h2>
          <a href="/editar-usuario" class="btn btn-primary">{{ 'Cambiar contraseña'|t}}</a>
        </div>
      </div>

      <div class="user-box user-box--secondary">
        <div class="container">
          <a href data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-secondary">{{ 'Eliminar mi cuenta'|t}}</a>
        </div>
      </div>


<!-- MODAL -->
<div class="modal modal-delete fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header__content">
          <h3 class="modal-title" id="exampleModalLabel">{{'Eliminar Cuenta'|t}}</h3>
          <p>{{'¿Estás seguro de querer eliminar tu cuenta?<br>Este proceso es automático, y tu cuenta será deshabilitada de inmediato.'|t}}</p>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a href="/eliminar-cuenta/{{user.id}}" type="button" class="btn btn-primary btn-primary--alt">Eliminar</a>
      </div>
    </div>
  </div>
</div>




    {% endif %}

</div>
